<h1>How to Cite</h1>

<h3>Citing the Pango Nomenclature</h3>
<div class="contrib">
    <h5>A dynamic nomenclature proposal for SARS-CoV-2 lineages to assist genomic epidemiology</h5>
    <a href="https://doi.org/10.1038/s41564-020-0770-5">Rambaut A, Holmes EC, O’Toole Á, Hill V, McCrone JT,  Ruis C, du Plessis L & Pybus OG (2020) <i>Nature Microbiology</i> DOI:10.1038/s41564-020-0770-5</a>
</div>
<h3>Citing a Cov-Lineages.org Lineage Report</h3>
<div class="contrib">
    <h5>Tracking the international spread of SARS-CoV-2 lineages B.1.1.7 and B.1.351/501Y-V2</h5>
    <a href="https://doi.org/10.12688/wellcomeopenres.16661.1">O’Toole Á, Hill V, Pybus OG et al. (2021) <i>Wellcome Open Res</i> DOI:10.12688/wellcomeopenres.16661.1</a>
</div>
<h3>Citing Pangolin</h3>
<div class="contrib">
    <h5>pangolin: lineage assignment in an emerging pandemic as an epidemiological tool</h5>
    <p>Áine O'Toole, Emily Scher, Anthony Underwood, Ben Jackson, Verity Hill,  JT McCrone, Chris Ruis, Khali Abu-Dahab, Ben Taylor, Corin Yeats, Louis du Plessis, David Aanensen, Eddie Holmes, Oliver Pybus, Andrew Rambaut</p>
    <p>There is a publication in review for <strong>pangolin</strong>, but in the meantime please to link to <a href="https://github.com/cov-lineages/pangolin">github.com/cov-lineages/pangolin</a> if you have used <strong>pangolin</strong> in your research.</p>
</div>