<h1>Contributors</h1>

<div id="contributor_grid">
    <div class="contrib">
        <h5>University of Edinburgh</h5>
        Áine O'Toole<br>
        Emily Scher<br>
        Ben Jackson<br>
        JT McCrone<br>
        Rachel Colquhoun<br>
        Verity Hill<br>
        Isobel Guthrie<br>
        Andrew Rambaut
    </div>
    <div class="contrib">
        <h5>Centre for Genomic Pathogen Surveillance</h5>
        Anthony Underwood<br>
        Ben Taylor<br>
        Corin Yeats<br>
        Khali Abu-Dahab<br>
        David Aanensen
    </div>
    <div class="contrib">
        <h5>University of Oxford</h5>
        Oliver Pybus<br>
        Moritz Kraemer<br>
        Louis du Plessis
    </div>
    <div class="contrib">
        <h5>bluedot</h5>
        Kamran Khan<br>
        Isaac Bogoch<br>
        Alexander Watts
    </div>
    <div class="contrib">
        <h5>University of Cambridge</h5>
        Chris Ruis
    </div>
    <div class="contrib">
        <h5> University of Sydney</h5>
        Eddie Holmes
    </div>
</div>



<h1>Acknowledgements</h1>

<div id="contributor_grid">
    <div class="contrib">
        <h5>GISAID data</h5>
        We acknowledge the hard work and open-science of the individual research labs and public health bodies that have made their genome data accessible on <a href="https://www.gisaid.org/">GISAID</a>.
    </div>
    <div class="contrib">
        <h5>COG-UK</h5>
        We acknowledge the COG-consortium for allowing direct and immediate access to the UK SARS-CoV-2 data and all individuals involved generating the genome sequences.
    </div>
    <div class="contrib">
        <h5> GitHub Issues</h5>
        We thank the users of pangolin who provided feedback on the <a href="https://github.com/cov-lineages/pangolin/issues?q=is%3Aissue+is%3Aclosed">GitHub issues page</a> and recognise the software is much improved thanks to their patience and suggestions!
    </div>
</div>

