<h1>Contact Us</h1>

<h3>For Questions About Pango Lineages</h3>
<div class="contrib">
	If you are reaching out regarding a SARS-CoV-2 cluster you believe should be designated as a lineage, please file an issue in the <a href="https://github.com/cov-lineages/pango-designation">pango-designation repository</a>. Instructions on how to file an issue can be found <a href="https://www.pango.network/how-does-the-system-work/how-to-suggest-a-new-lineage/">here</a>.<br><br>

	Otherwise, enquiries should be sent to enquiries@pango.network.
</div>
<h3>For Questions About Pangolin</h3>
<div class="contrib">
    Before reaching out, please first check the <a href="/resources/pangolin.html">Pangolin Docs</a> as well as the Pangolin repository <a href="https://github.com/cov-lineages/pangolin/issues?q=is%3Aissue+">previous issues</a> to make sure that your question has not already been answered. <br><br>

    If not, enquiries should be sent to enquiries@pango.network. 
</div>
