<ul class="nav justify-content-center" id="main_nav">
  <li class="nav-item">
    <a class="navbar-brand" href="{{ 'index.html' | absolute_url }}">cov-lineages.org</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Pango
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{'/index.html#about' | absolute_url}}">About</a>
      <a class="dropdown-item" href="{{'/FAQ.html' | absolute_url}}">FAQs</a>
      <a class="dropdown-item" href="https://www.pango.network/how-does-the-system-work/how-to-suggest-a-new-lineage/">Suggest a New Lineage</a>
      <a class="dropdown-item" href="{{'/index.html#cite' | absolute_url}}">How to Cite/Publications</a>
      <a class="dropdown-item" href="{{'/index.html#contributors' | absolute_url}}">Contributors</a>
      <a class="dropdown-item" href="{{'/index.html#contact' | absolute_url}}">Contact Us</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ 'lineage_list.html' | absolute_url }}">Lineages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ 'resources.html' | absolute_url }}">Resources</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ 'constellations.html' | absolute_url }}">Constellations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ 'index.html#global_reports' | absolute_url }}">VOC Reports</a>
  </li>

  <!--<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      VOC Reports
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      {% for item in site.data.reported_lineages %}
        <a class="dropdown-item" href="{{item.link}}">{{item.name}}</a>
      {% endfor %} 
    </div>
  </li>-->
</ul>



<ul class="p-nested-dropdowns" id="mobile_menu">
    <li class="nested-dropdown">
        <div id="mobile_menu_btn">Menu</div>
        <!-- First level sub dropdown -->
        <ul>
            <li><a class="nested-nav-item" href="{{ 'index.html' | absolute_url }}">Home</a></li>
            <li>
               <div class="nested-nav-item">Pango</div>
                <ul>
                    <li><a class="nested-nav-item" href="{{'/index.html#about' | absolute_url}}">About</a></li>
                    <li><a class="nested-nav-item" href="{{'/FAQ.html' | absolute_url}}">FAQs</a></li>
                    <li><a class="nested-nav-item" href="https://www.pango.network/how-does-the-system-work/how-to-suggest-a-new-lineage/">Suggest a New Lineage</a></li>
                    <li><a class="nested-nav-item" href="{{'/index.html#cite' | absolute_url}}">How to Cite/Publications</a></li>
                    <li><a class="nested-nav-item" href="{{'/index.html#contributors' | absolute_url}}">Contributors</a></li>
                    <li><a class="nested-nav-item" href="{{'/index.html#contact' | absolute_url}}">Contact Us</a></li>
                </ul>
            </li>
            <li><a class="nested-nav-item" href="{{ 'lineage_list.html' | absolute_url }}">Lineages</a></li>
            <li><a class="nested-nav-item" href="{{ 'resources.html' | absolute_url }}">Resources</a></li>
            <li><a class="nested-nav-item" href="{{ 'constellations.html' | absolute_url }}">Constellations</a></li>
            <li><a class="nested-nav-item" href="{{ 'index.html#global_reports' | absolute_url }}">VOC Reports</a></li>
        </ul>
    </li>
</ul>


