---
layout: default
---

<head>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-geo-projection/0.2.14/d3.geo.projection.js"></script>
</head>

<!DOCTYPE HTML>
<!--
  SARS-CoV-2 lineages
-->
<html>

<style type="text/css">
  #chart_container {
    position: relative;
    width: 80%;
    left: 10%;
    top: 0px;
  }

  #map {
    /*width: calc(100% - 188px);
    flex-basis: calc(100% - 188px);*/
    height: 600px;
    margin-top: 20px;

  }

  #bar_chart {
    /*width: calc(100% - 188px);
    flex-basis: calc(100% - 188px);*/
    height: 450px;
    margin-top: 20px;
  }

  text {
    font-size: 12px !important;
  }

  #date_chart {
    /*width: calc(100% - 188px);
    flex-basis: calc(100% - 188px);*/
    height: 300px;
    margin-top: 20px;
    margin-bottom: 90px;

  }

  .countries {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2;
    stroke-linejoin: round;
  }

  .countryCount {
    width: 50px;
    text-align: center;
  }


  .locations{
    stroke-width: 1;
    opacity: 0.7;
  }

  .axis {
    font: 8px 'Poppins' sans-serif;
  }
  .axis path,
  .axisBottom line {
    fill: none;
    stroke: dimgrey;
    shape-rendering: crispEdges;
    stroke-width: 1px;
  }
  .maptooltip {
    position: absolute;
    padding: 10px;
    min-width: 50px;
    min-height: 20px;
    background-color: #6E6D92;
    color: white;
    z-index: 1000000000;
    display: none;
    border-radius: 5px;
    font: 14px 'Poppins' sans-serif;
  }


</style>


<body>
  
  <script type="text/javascript">
    const updateTableFactory = (tooltipId,metadata)=>(tipId)=>{
            const data = metadata[tipId];
            const tableDiv = d3.select(document.getElementById(tooltipId));
            //Remove table
        tableDiv.html("")
            if (data !== undefined) {
                const visibleData = Object.keys(data).filter(d=>d!=='sequence_name');
                tableDiv.append("h3")
                    .attr("class",'tooltip-header')
                    .text(tipId)
                    .append("hr");
                tableDiv.selectAll("p")
                        .data(visibleData)
                        .enter()
                        .append("p")
                        .attr("class","tooltip-text")
                            .selectAll("span")
                            .data(d=>[d,data[d]])
                            .enter()
                            .append("span")
                            .attr("class",(d,i)=> i===0? "tooltip-key" :"tooltip-value")
                            .text((d,i)=>i===0? d + " : ": d);
            }
    }
    <%text>
    
    function addSliderEventHandler(sliderID,fig){
      const svg = fig.svgSelection.select(function() { return this.parentNode; })
      const initialHeight = svg.attr("height");
      const maxHeight = fig.tree().externalNodes.length*50; // 50 pixels for each tip plus a little for margins;

      if(maxHeight<=initialHeight){
        d3.select(`#${sliderID}`).remove();// don't need  a slider
        return;
      }
      const heightScale = d3.scaleLinear()
              .range([initialHeight,maxHeight])
              .domain([0,1])

          if(initialHeight/fig.tree().externalNodes.length>12){
            fig.svgSelection.selectAll(".label")
            .classed("show",true)
          }

      d3.select(`#${sliderID}`).on("input",function(){
            const svgHeight = heightScale(this.value);
            //magic number!!
            svg.attr("height", svgHeight);
          fig.update();
          if(svgHeight/fig.tree().externalNodes.filter(node=>!node[fig.id].ignore).length>12){
            fig.svgSelection.selectAll(".label")
            .classed("show",true)
          }else{
            fig.svgSelection.selectAll(".label")
            .classed("show",false)
          }
      })
    }
    </%text>

    function buildTree(svgID, myTreeString,tooltipID,backgroundDataString,sliderID) {
        const backgroundData = JSON.parse(backgroundDataString);
        const updateTable = updateTableFactory(tooltipID, backgroundData);
        const margins = {top:50,bottom:60,left:100,right:100}
        const svg = d3.select(document.getElementById(svgID))
        svg.selectAll("g").remove();
        const newickString = myTreeString;
        const tree = figtree.Tree.parseNewick(newickString);
        const fig = new figtree.FigTree(document.getElementById(svgID),margins, tree)
        fig.layout(figtree.rectangularLayout)
                .nodes(figtree.circle()
                                .filter(n=>!n.children)
                                .attr("r",8)
                                .hilightOnHover(20)
                                .onClick((node,i,n)=>{
                                  updateTable(node.name);
                                  fig.svgSelection.selectAll(".selected").classed("selected",false);
                                  d3.select(n[i]).classed("selected",true);
                                }),
                        figtree.tipLabel(v=>v.name).attr("dx",10),
                        figtree.rectangle()
                                .filter(n=>n[fig.id].collapsed)
                                .attr("width",20)
                                .attr("height",20)
                )
                      .nodeBackgrounds(figtree.circle()
                                        .attr("r", 10)
                              .filter(n=>!n.children)
                                      )
                      .branches(figtree.branch()
                                  .hilightOnHover(20) 
                                  .collapseOnClick()
                                  .on("click",()=>{
                                    const svgHeight = fig.svgSelection.select(function() { return this.parentNode; }).attr("height");
                                    if(svgHeight/fig.tree().externalNodes.filter(node=>!node[fig.id].ignore).length>12){
                                      fig.svgSelection.selectAll(".label")
                                        .classed("show",true)
                                    }else{
                                      fig.svgSelection.selectAll(".label")
                                      .classed("show",false)
                                    }
                                  })
                          )
                          .feature(
                                  figtree.scaleBar()
                                    .direction("x")
                                    .length(1/29903)
                                    .x(-60)
                                    .y(-30)
                                    // .y(fig.svgSelection.select(function() { return this.parentNode; }).attr("height")-margins.top-margins.bottom+20)
                                    .title({text:"~1 SNP",
                                    yPadding:10})
                                      )

      addSliderEventHandler(sliderID,fig);

    }
  </script>

  <script>
    $(document).ready(function() {
      $(window).scroll(function() {
      if ($(this).scrollTop() > 20) {
      $('#toTopBtn').show();
      } else {
      $('#toTopBtn').hide();
      }
      });
      
      $('#toTopBtn').click(function() {
      $("html, body").animate({
      scrollTop: 0
      }, 400);
      return false;
      });
      });
  </script>

    <!-- Wrapper -->
    <div class="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Content -->
                <section>
                  <header class="main">
                    <h1>{{ page.title }}</h1>
                  </header>
                  {% if page.parent %}
                  <p class="goToParentButton icon dripicons-arrow-thin-right">
                    <a href="/lineages/lineage_{{ page.parent }}.html">Go to parent lineage: {{ page.parent }}</a>
                  </p>
                 {% endif %}

                 <div class="contrib">
                  <p id="description">{{site.data.lineage_data[page.lineage]["Description"]}}</p>
                  <br><br>
                  <a href="https://outbreak.info/situation-reports?pango={{page.lineage}}">View more information at Outbreak.info</a>

                  <div id="otherNames">
                    <div id="who_wrapper"><img src="{{'assets/images/who_black.png' | absolute_url}}"/><span id="who"></span></div>
                    <div id="phe_wrapper"><img src="{{'assets/images/phe_black.png' | absolute_url}}"/><span id="phe"></span></div>
                    <div id="nextstrain_wrapper"><img src="{{'assets/images/nextstrain_black.png' | absolute_url}}"/><span id="nextstrain"></span></div>
                  </div>
                 </div>

                <div id="chart_container">
                  <div id="map"></div>
                  <div id="bar_chart"></div>
                  <div id="date_chart"></div>
                </div>
                <table id="myTable" class="table">
                    <h3>Table 1 | Summary of lineage & sub-lineages</h3> <br>  
                    {% include searchbar.html %}

                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Lineage</th>
                      <th scope="col">Most common countries</th>
                      <th scope="col">Earliest date</th>
                      <th scope="col"># designated</th>
                      <th scope="col"># assigned</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                    {% for child in page.children %}

                    {% assign row = site.data.lineage_data[child] %}
                  <tr>
                    {% if row["Lineage"] contains "*" %}
                    <td> {{ row["Lineage"] }} </td>
                    {% else %}
                    <td><a href="/lineages/lineage_{{ child }}.html">{{ row["Lineage"] }}</a> </td>
                    {% endif %}
                    <td>{{ row["Countries"] }}</td>
                    <td>{{ row["Earliest date"] }}</td>
                    <td>{{ row["Number designated"] }}</td>
                    <td>{{ row["Number assigned"] }}</td>
                    <td>{{ row["Description"] }}</td>
                  </tr>
                    {% endfor %}
                  
                </table>

                {{ content }}
                </section>
              </div>
          </div>
      </div>

</body>

</html>



